<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>formServlet</display-name>
    <servlet-name>formServlet</servlet-name>
    <servlet-class>formServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formServlet</servlet-name>
    <url-pattern>/formServlet</url-pattern>
  </servlet-mapping>
  <display-name>ICT502-Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>staff</display-name>
    <servlet-name>staff</servlet-name>
    <servlet-class>bean.staff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staff</servlet-name>
    <url-pattern>/staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateStaff</display-name>
    <servlet-name>CreateStaff</servlet-name>
    <servlet-class>controller.staff.CreateStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateStaff</servlet-name>
    <url-pattern>/CreateStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadStaff</display-name>
    <servlet-name>ReadStaff</servlet-name>
    <servlet-class>controller.staff.ReadStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadStaff</servlet-name>
    <url-pattern>/ReadStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookingControl</display-name>
    <servlet-name>bookingControl</servlet-name>
    <servlet-class>controller.customer.bookingControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookingControl</servlet-name>
    <url-pattern>/bookingControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateStaff</display-name>
    <servlet-name>UpdateStaff</servlet-name>
    <servlet-class>controller.staff.UpdateStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStaff</servlet-name>
    <url-pattern>/UpdateStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStaff</display-name>
    <servlet-name>DeleteStaff</servlet-name>
    <servlet-class>controller.staff.DeleteStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStaff</servlet-name>
    <url-pattern>/DeleteStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateBus</display-name>
    <servlet-name>CreateBus</servlet-name>
    <servlet-class>controller.staff.CreateBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBus</servlet-name>
    <url-pattern>/CreateBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadBus</display-name>
    <servlet-name>ReadBus</servlet-name>
    <servlet-class>controller.staff.ReadBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadBus</servlet-name>
    <url-pattern>/ReadBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateDestination</display-name>
    <servlet-name>CreateDestination</servlet-name>
    <servlet-class>controller.staff.CreateDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDestination</servlet-name>
    <url-pattern>/CreateDestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadBusDest</display-name>
    <servlet-name>ReadBusDest</servlet-name>
    <servlet-class>controller.staff.ReadBusDest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadBusDest</servlet-name>
    <url-pattern>/ReadBusDest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBus</display-name>
    <servlet-name>UpdateBus</servlet-name>
    <servlet-class>controller.staff.UpdateBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBus</servlet-name>
    <url-pattern>/UpdateBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBus</display-name>
    <servlet-name>DeleteBus</servlet-name>
    <servlet-class>controller.staff.DeleteBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBus</servlet-name>
    <url-pattern>/DeleteBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadSchedule</display-name>
    <servlet-name>ReadSchedule</servlet-name>
    <servlet-class>controller.driver.ReadSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadSchedule</servlet-name>
    <url-pattern>/ReadSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTrip</display-name>
    <servlet-name>CreateTrip</servlet-name>
    <servlet-class>controller.staff.CreateTrip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTrip</servlet-name>
    <url-pattern>/CreateTrip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBusDes</display-name>
    <servlet-name>DeleteBusDes</servlet-name>
    <servlet-class>controller.staff.DeleteBusDes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBusDes</servlet-name>
    <url-pattern>/DeleteBusDes</url-pattern>
  </servlet-mapping>
</web-app>